$max-width: 1140px;
$side-padding: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: $max-width + ($side-padding * 2);
    margin: 0 auto;
    padding-right: $side-padding;
    padding-left: $side-padding;
}

@import "block/index";
@import "block/animation";
@import "block/adaptive";