* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.calculator__menu a > p {
  text-align: center;
}

.calculator__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.calculator__stage {
  border: 1px solid #eeeeee;
  display: none;
  padding: 42px 20px 42px 20px;
}

.calculator__stage:target {
  display: flex;
  flex-direction: column;
}

.calculator__stage-confirmbtn {
  background: #f75445;
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  align-self: flex-end;
  margin: 20px 0;
}

.calculator__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.calculator__heading img {
  margin-right: 20px;
}

.no-webp form select {
  background-image: url("../img/arrow-down.png"); }

form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.inactiveblock {
  opacity: 70%;
}

.calculator__block {
  display: flex;
  justify-content: space-between;
}

.calculator__block-formwrapper .calculator__block-form .calculator__block-form-list li {
  display: flex;
}

.calculator__block-formwrapper .calculator__block-form .calculator__block-form-list li > p {
  margin-left: 6px;
  color: #663b36;
  cursor: pointer;
}

.calculator__block-formwrapper {
  width: 50%;
}

.calculator__block-imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.calculator__block li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.calculator__block-additionally .calculator__block-additionallyheading {
  display: flex;
  margin-bottom: 24px;
}

.calculator__block-additionally .calculator__block-additionallyheading button {
  position: relative;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.calculator__block-additionally .calculator__block-additionallyheading button::before {
  display: none;
}

.calculator__block-additionally .calculator__block-additionallyheading::before {
  content: "";
  margin-right: 50px;
}

.calculator__block-additionally .calculator__block-additionallyheading::after {
  margin-left: 18px;
  content: url("../img/arrow-up.png");
  transform: rotate(180deg);
}

.calculator__block-additionally .calculator__block {
  display: none;
}

.calculator__block-additionally.active .calculator__block {
  display: flex;
}

.calculator__block-additionally.active .calculator__block-additionallyheading::after {
  transform: rotate(0deg);
}

.no-webp .calculator__block-blockparams .calculator__block-heading::before {
  background-image: url("../img/brick.png"); }

.calculator__block-blockparams .calculator__block-select:first-child {
  width: 360px;
  margin-right: 30px;
}

.calculator__block-blockparams .calculator__block-select:last-child {
  width: 130px;
}

.calculator__block-blockparams .calculator__block-number {
  width: 160px;
}

.calculator__block-blockparams .calculator__block-form {
  padding-left: 10px;
  margin-bottom: 28px;
}

.no-webp .calculator__block-wallheight .calculator__block-heading::before {
  background-image: url("../img/house-plan.png"); }

.calculator__block-wallheight .calculator__block-number {
  width: 160px;
}

.calculator__block-wallheight .calculator__block-select {
  width: 160px;
}

.calculator__block-wallheight .calculator__block-select select {
  padding: 14px;
}

.calculator__block-wallheight .calculator__block-checkbox {
  width: 120px;
  transform: translateY(12px);
}

.calculator__block-wallheight .calculator__block-flex {
  margin-left: 10px;
}

.calculator__block-wallheight .calculator__block-flex > *:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-wallheight .calculator__block-form {
  margin-bottom: 28px;
}

.calculator__block-wallheight .calculator__block-formsubmit button {
  width: 160px;
}

.calculator__block-doorways {
  margin-bottom: 26px;
}

.no-webp .calculator__block-doorways .calculator__block-heading::before {
  background-image: url("../img/window.png"); }

.calculator__block-doorways .calculator__block-flex {
  margin-left: 10px;
}

.calculator__block-doorways .calculator__block-flex > *:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-doorways .calculator__block-number {
  width: 160px;
}

.calculator__block-doorways .calculator__block-number:last-child {
  width: 120px;
}

.calculator__block-doorways .calculator__block-formsubmit button {
  width: 160px;
}

.calculator__block-fronts {
  margin-bottom: 90px;
}

.no-webp .calculator__block-fronts .calculator__block-heading::before {
  background-image: url("../img/joist.png"); }

.calculator__block-fronts .calculator__block-number:not(:last-child) {
  width: 160px;
  margin-right: 30px;
}

.calculator__block-fronts .calculator__block-number:last-child {
  width: 120px;
}

.calculator__block-fronts .calculator__block-flex {
  margin-left: 10px;
}

.calculator__block-fronts .calculator__block-flex > *:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-fronts .calculator__block-formsubmit button {
  width: 160px;
}

.calculator__block-trapezoidwindows {
  margin-bottom: 60px;
}

.no-webp .calculator__block-trapezoidwindows .calculator__block-heading::before {
  background-image: url("../img/trapwindows.png"); }

.calculator__block-trapezoidwindows .calculator__block-number:not(:last-child) {
  width: 100px;
  margin-right: 30px;
}

.calculator__block-trapezoidwindows .calculator__block-number:last-child {
  width: 120px;
}

.calculator__block-trapezoidwindows .calculator__block-flex {
  margin-left: 10px;
}

.calculator__block-trapezoidwindows .calculator__block-flex > *:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-trapezoidwindows .calculator__block-formsubmit button {
  width: 160px;
}

.calculator__block-circlewindows {
  margin-bottom: 60px;
}

.no-webp .calculator__block-circlewindows .calculator__block-heading::before {
  background-image: url("../img/circlewindows.png"); }

.calculator__block-circlewindows .calculator__block-number:not(:last-child) {
  width: 160px;
  margin-right: 30px;
}

.calculator__block-circlewindows .calculator__block-number:last-child {
  width: 120px;
}

.calculator__block-circlewindows .calculator__block-flex {
  margin-left: 10px;
}

.calculator__block-circlewindows .calculator__block-flex > *:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-circlewindows .calculator__block-formsubmit button {
  width: 160px;
}

.calculator__block-circlewindows .calculator__block-checkbox {
  width: 120px;
}

.calculator__block-glue {
  margin-bottom: 60px;
}

.no-webp .calculator__block-glue .calculator__block-heading::before {
  background-image: url("../img/trowel.png"); }

.calculator__block-foamglue {
  margin-bottom: 114px;
}

.no-webp .calculator__block-foamglue .calculator__block-heading::before {
  background-image: url("../img/foamglue.png"); }

.no-webp .calculator__block-masonrygrid .calculator__block-heading::before {
  background-image: url("../img/grid.png"); }

.calculator__block-heading {
  display: flex;
  margin-bottom: 12px;
}

.calculator__block-heading h3 {
  position: relative;
}

.calculator__block-heading h3::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #d75547;
}

.calculator__block-heading::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  width: 25px;
  height: 20px;
  margin-right: 24px;
}

.calculator__block-form {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.calculator__block-form p.block-text,
.calculator__block-form p.menu-title {
  margin-bottom: 10px;
}

.calculator__block-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.calculator__block-flex {
  display: flex;
}

.calculator__block-select select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #b9b9b9;
}

.calculator__block-select span {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.calculator__block-select span::before {
  display: block;
  content: "!";
  background-color: #f4d433;
  min-height: 10px;
  min-width: 10px;
  text-align: center;
  color: #fff;
  font-size: 8px;
  border-radius: 10px;
  margin-right: 8px;
  transform: translateY(2px);
}

.calculator__block-radio {
  display: flex;
  align-items: center;
}

.calculator__block-radio label {
  margin-left: 16px;
}

.calculator__block-radio-section {
  display: flex;
  align-items: center;
}

.calculator__block-radio-section:not(:last-child) {
  margin-right: 30px;
}

.calculator__block-number input {
  width: 100%;
  padding: 14px;
  border: 1px solid #b9b9b9;
}

.calculator__block-checkbox {
  display: flex;
  align-items: center;
}

.calculator__block-checkbox label {
  margin-left: 16px;
}

.calculator__block-formsubmit button {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  padding: 6px 0;
}

.calculator__block-formsubmit button:nth-child(1) {
  background: #9a99a3;
  color: white;
}

.calculator__block-formsubmit button:nth-child(2) {
  border: 1px solid #9a99a3;
  color: #9a99a3;
}

@font-face {
  font-family: "Open-Sans Regular";
  src: url("../fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-family: "Open-Sans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff2");
}

@font-face {
  font-family: "Verdana Regular";
  src: url("../fonts/Verdana.woff2");
}

a {
  text-decoration: none;
}

.page-title {
  font-family: Open-Sans Regular;
  font-size: 30px;
  text-transform: uppercase;
  color: #44424b;
}

.page-heading {
  font-family: Open-Sans Regular;
  font-size: 30px;
  color: #44424b;
}

.page-paragpaph {
  font-family: Open-Sans Regular;
  font-size: 13px;
  color: #44424b;
}

.menu-title {
  font-family: "Segoe UI semibold";
  font-size: 14px;
  color: #44424b;
}

.table-text {
  font-family: "Segoe UI semibold";
  font-size: 12px;
  color: #44424b;
}

.menu-number {
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #35414c;
  border-radius: 30px;
  font-family: "Segoe UI semibold";
  font-size: 18px;
  color: #ffffff;
}

.block-heading {
  font-family: "Verdana Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #63685f;
}

.btn-text {
  font-family: "Verdana Regular";
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.btn-text-lowercase {
  font-family: "Verdana Regular";
  font-size: 12px;
  color: white;
}

.block-text {
  font-family: "Segoe UI semibold";
  font-size: 12px;
  color: #44424b;
}

.block-text-small {
  font-family: "Segoe UI semibold";
  font-size: 10px;
  color: #44424b;
}

.header {
  padding-top: 70px;
  padding-bottom: 32px;
}

.header__dots {
  display: flex;
}

.header__dots div {
  width: 8px;
  height: 8px;
  background-color: #f75445;
}

.header__dots div:not(:last-child) {
  margin-right: 8px;
}

.header__text .paragraph {
  margin-bottom: 30px;
  text-indent: 20px;
}

.header__text p:last-child span {
  color: #f75445;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header__title h1 {
  margin-left: 20px;
}

.calculator__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calculator__menu::after {
  position: absolute;
  width: 100%;
  bottom: 14px;
  content: "";
  border: 1px solid #000;
  z-index: -1;
}

.calculator__menu div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator__menu div > a > p {
  margin-bottom: 14px;
}

.calculator__stage#stage4 .export {
  display: none;
}

.calculator__stage#stage4 .export.active {
  display: block;
}

.calculator__stage#stage4 .export__menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.calculator__stage#stage4 .export__menu-wrapper {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: Arial;
}

.calculator__stage#stage4 .export__menu-wrapper #stage4-tablecalcbtn {
  content: url(../img/shortcalcetable.png);
}

.calculator__stage#stage4 .export__menu-wrapper #stage4-expandedcalcbtn {
  content: url(../img/shortcalcexpand.png);
}

.calculator__stage#stage4 .export__menu-wrapper #stage4-shortcalcbtn {
  margin-left: 12px;
}

.calculator__stage#stage4 .export__menu-wrapper > div {
  padding: 0 4px;
}

.calculator__stage#stage4 .export__menu button {
  position: relative;
  border: none;
  background: 0 0;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.calculator__stage#stage4 .export__menu > #stage4-databtn div > div,
.calculator__stage#stage4 .export__menu #stage4-shortcalcbtn div > div,
.calculator__stage#stage4 .export__menu #stage4-detalcalcbtn div > div {
  margin-top: 4px;
  width: 40px;
  height: 2px;
  background-color: #d75547;
}

.calculator__stage#stage4 .export__menu > #stage4-databtn:not(#stage4-detalcalcbtn),
.calculator__stage#stage4 .export__menu #stage4-shortcalcbtn:not(#stage4-detalcalcbtn),
.calculator__stage#stage4 .export__menu #stage4-detalcalcbtn:not(#stage4-detalcalcbtn) {
  margin-right: 40px;
}

.calculator__stage#stage4 .export__menu > #stage4-databtn#stage4-databtn::before,
.calculator__stage#stage4 .export__menu #stage4-shortcalcbtn#stage4-databtn::before,
.calculator__stage#stage4 .export__menu #stage4-detalcalcbtn#stage4-databtn::before {
  content: url(../img/databtn.png);
}

.calculator__stage#stage4 .export__menu > #stage4-databtn#stage4-detalcalcbtn::before,
.calculator__stage#stage4 .export__menu #stage4-shortcalcbtn#stage4-detalcalcbtn::before,
.calculator__stage#stage4 .export__menu #stage4-detalcalcbtn#stage4-detalcalcbtn::before {
  content: url(../img/detalcalc.png);
}

.calculator__stage#stage4 .export__menu > #stage4-databtn::before,
.calculator__stage#stage4 .export__menu #stage4-shortcalcbtn::before,
.calculator__stage#stage4 .export__menu #stage4-detalcalcbtn::before {
  display: flex;
  align-items: center;
  font-size: 33px;
  font-family: Arial;
  margin-right: 12px;
}

.calculator__stage#stage4 .export__block {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calculator__stage#stage4 .export__block-tableicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: 380px;
  margin-bottom: 20px;
}

.calculator__stage#stage4 .export__block-tableicons-element {
  width: 100px;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__stage#stage4 .export__block-tableicons-element img {
  width: 40px;
  height: 40px;
}

.calculator__stage#stage4 .export__block-heading {
  display: flex;
  margin-bottom: 12px;
}

.calculator__stage#stage4 .export__block-heading h3 {
  position: relative;
}

.calculator__stage#stage4 .export__block-heading h3::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #d75547;
}

.calculator__stage#stage4 .export__block-heading::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  width: 25px;
  height: 20px;
  margin-right: 24px;
}

.calculator__stage#stage4 .export__block-tablewrapper {
  width: 75%;
}

.calculator__stage#stage4 .export__block-imgwrapper {
  width: 25%;
}

.calculator__stage#stage4 .export__block-table {
  margin-left: 48px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebeaea;
}

.calculator__stage#stage4 .export__block-table table {
  border-collapse: collapse;
}

.calculator__stage#stage4 .export__block-table table tr:nth-child(2n-1) {
  background-color: #f9f9f9;
}

.calculator__stage#stage4 .export__block-table table td {
  padding: 6px;
}

.calculator__stage#stage4 .export__block-table table tr > td:first-child {
  width: 295px;
}

.calculator__stage#stage4 .export__block-table table tr > td:not(:first-child) {
  width: 170px;
  text-align: right;
}

.no-webp .calculator__stage#stage4 .export__block-blockparams .export__block-heading::before {
  background-image: url("../img/brick.png"); }

.no-webp .calculator__stage#stage4 .export__block-wallheight .export__block-heading::before {
  background-image: url("../img/house-plan.png"); }

.no-webp .calculator__stage#stage4 .export__block-doorways .export__block-heading::before {
  background-image: url("../img/window.png"); }

.no-webp .calculator__stage#stage4 .export__block-fronts .export__block-heading::before {
  background-image: url("../img/joist.png"); }

.no-webp .calculator__stage#stage4 .export__block-trapezoidwindows .export__block-heading::before {
  background-image: url("../img/trapwindows.png"); }

.no-webp .calculator__stage#stage4 .export__block-circlewindows .export__block-heading::before {
  background-image: url("../img/circlewindows.png"); }

.no-webp .calculator__stage#stage4 .export__block-glue .export__block-heading::before {
  background-image: url("../img/trowel.png"); }

.no-webp .calculator__stage#stage4 .export__block-foamglue .export__block-heading::before {
  background-image: url("../img/foamglue.png"); }

.no-webp .calculator__stage#stage4 .export__block-masonrygrid .export__block-heading::before {
  background-image: url("../img/grid.png"); }

.calculator__stage#stage4 .export__block-masonrygrid .export__block-table {
  border: none;
  padding: none;
}

.webp form select { background-image: url(../img/arrow-down.webp); }

.webp .calculator__block-blockparams .calculator__block-heading::before { background-image: url(../img/brick.webp); }

.webp .calculator__block-wallheight .calculator__block-heading::before { background-image: url(../img/house-plan.webp); }

.webp .calculator__block-doorways .calculator__block-heading::before { background-image: url(../img/window.webp); }

.webp .calculator__block-fronts .calculator__block-heading::before { background-image: url(../img/joist.webp); }

.webp .calculator__block-trapezoidwindows .calculator__block-heading::before { background-image: url(../img/trapwindows.webp); }

.webp .calculator__block-circlewindows .calculator__block-heading::before { background-image: url(../img/circlewindows.webp); }

.webp .calculator__block-glue .calculator__block-heading::before { background-image: url(../img/trowel.webp); }

.webp .calculator__block-foamglue .calculator__block-heading::before { background-image: url(../img/foamglue.webp); }

.webp .calculator__block-masonrygrid .calculator__block-heading::before { background-image: url(../img/grid.webp); }

.webp .calculator__stage#stage4 .export__block-blockparams .export__block-heading::before { background-image: url(../img/brick.webp); }

.webp .calculator__stage#stage4 .export__block-wallheight .export__block-heading::before { background-image: url(../img/house-plan.webp); }

.webp .calculator__stage#stage4 .export__block-doorways .export__block-heading::before { background-image: url(../img/window.webp); }

.webp .calculator__stage#stage4 .export__block-fronts .export__block-heading::before { background-image: url(../img/joist.webp); }

.webp .calculator__stage#stage4 .export__block-trapezoidwindows .export__block-heading::before { background-image: url(../img/trapwindows.webp); }

.webp .calculator__stage#stage4 .export__block-circlewindows .export__block-heading::before { background-image: url(../img/circlewindows.webp); }

.webp .calculator__stage#stage4 .export__block-glue .export__block-heading::before { background-image: url(../img/trowel.webp); }

.webp .calculator__stage#stage4 .export__block-foamglue .export__block-heading::before { background-image: url(../img/foamglue.webp); }

.webp .calculator__stage#stage4 .export__block-masonrygrid .export__block-heading::before { background-image: url(../img/grid.webp); }