* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: lato;
    min-height: 100vh;
}

button {
    cursor: pointer;
    font-family: lato;
}

// INDEX 

@import "block/header";
@import "block/footer";
@import "block/index";

// OTHER PAGES 

@import "block/breadcrumb";
@import "block/catalog";
@import "block/product";
@import "block/registration";
@import "block/cart";
@import "block/adaptive";




